@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
   */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
   */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #605247;
  --color-gray: #acacac;
  --color-accent: #ead3cb;
  --color-border: #acacac;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;
  --container-width: 1260px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}
@media (width <= 389.98px) {
  :root {
    --container-padding-x: 10px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 767.98px) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  letter-spacing: -0.02em;
}

main {
  flex-grow: 1;
}

/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
h1,
.h1 {
  font-weight: 300;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

h2,
.h2 {
  font-weight: 300;
  font-size: 72px;
  letter-spacing: -0.03em;
}
@media (width <= 1023.98px) {
  h2,
  .h2 {
    font-size: 60px;
  }
}
@media (width <= 767.98px) {
  h2,
  .h2 {
    font-size: 48px;
  }
}

h3,
.h3 {
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  display: block;
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 44px;
  height: 44px;
  content: "";
}

.logo {
  position: relative;
  height: 45px;
  min-width: 57px;
}
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #605247;
  z-index: -1;
}
.logo__image {
  margin-right: 12px;
}

.header__inner {
  display: flex;
  padding-block: 30px;
  letter-spacing: 0;
}
@media (width <= 1023.98px) {
  .header__inner {
    font-size: 16px;
  }
}
@media (width <= 767.98px) {
  .header__inner {
    padding-block: 20px;
  }
}
@media (width <= 389.98px) {
  .header__inner {
    padding-block: 10px;
  }
}
.header__overlay {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (width <= 767.98px) {
  .header__overlay {
    justify-content: center;
  }
}
.header__menu {
  align-content: center;
  padding-inline: 15px;
}
@media (width <= 767.98px) {
  .header__menu {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    margin-top: 86px;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
    overflow-y: auto;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
  .header__menu:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  gap: 25px;
}
@media (width <= 1023.98px) {
  .header__menu-list {
    gap: 10px;
  }
}
@media (width <= 767.98px) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  border-radius: 50px;
  padding: 5px 15px;
}
@media (width <= 1023.98px) {
  .header__menu-link {
    padding: 2px 8px;
  }
}
@media (width <= 767.98px) {
  .header__menu-link {
    font-size: 24px;
  }
}
.header__menu-link:hover {
  outline: 1px solid var(--color-dark);
}

.soc1als {
  display: flex;
}
.soc1als__title {
  align-content: center;
  padding-inline: 25px;
}
@media (width <= 1023.98px) {
  .soc1als__title {
    padding-inline: 20px;
  }
}
@media (width <= 767.98px) {
  .soc1als__title {
    display: none;
  }
}
.soc1als__list {
  display: flex;
  gap: 20px;
}
@media (width <= 1023.98px) {
  .soc1als__list {
    gap: 10px;
  }
}
@media (width <= 389.98px) {
  .soc1als__list {
    gap: 6px;
  }
}
.soc1als__link {
  border-radius: 100%;
  padding: 10px;
  background-color: var(--color-accent);
  width: 45px;
}
.soc1als__link:hover {
  outline: 1px solid var(--color-dark);
  transform: scale(1.1);
}

.burger-button {
  min-width: 56px;
  height: 46px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8.5px 4.25px 8.5px 4.25px;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
}
.burger-button[aria-label]::before {
  width: 57px;
  height: 46px;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.4em -0.3em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  align-self: end;
  width: 55%;
}

.hero {
  margin-top: 200px;
}
.hero__body {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
@media (width <= 767.98px) {
  .hero__body {
    flex-direction: column;
    justify-content: center;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: fit-content;
  border-bottom: 1px solid var(--color-border);
}
@media (width <= 1023.98px) {
  .hero__info {
    border-bottom: none;
  }
}
@media (width <= 767.98px) {
  .hero__info {
    text-align: center;
  }
}
@media (width <= 479.98px) {
  .hero__info {
    gap: 25px;
  }
}
.hero__title {
  max-width: 450px;
}
@media (width <= 1279.98px) {
  .hero__title {
    max-width: 390px;
    font-size: 60px;
  }
}
@media (width <= 1023.98px) {
  .hero__title {
    max-width: 320px;
    font-size: 48px;
  }
}
@media (width <= 767.98px) {
  .hero__title {
    max-width: 100%;
  }
}
@media (width <= 479.98px) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__description {
  font-weight: 300;
  font-size: 34px;
  max-width: 500px;
  line-height: 1.2;
}
@media (width <= 1279.98px) {
  .hero__description {
    font-size: 26px;
    max-width: 350px;
  }
}
@media (width <= 1023.98px) {
  .hero__description {
    font-size: 22px;
  }
}
@media (width <= 767.98px) {
  .hero__description {
    max-width: 100%;
  }
}
@media (width <= 479.98px) {
  .hero__description {
    font-size: 20px;
  }
}
.hero__button-list {
  display: flex;
  gap: 25px;
  font-size: 24px;
}
@media (width <= 767.98px) {
  .hero__button-list {
    justify-content: center;
  }
}
@media (width <= 389.98px) {
  .hero__button-list {
    gap: 15px;
  }
}
.hero__button {
  border-radius: 100px;
  padding: 18px 48px;
  background-color: transparent;
  border: none;
  color: var(--color-dark);
}
@media (width <= 1279.98px) {
  .hero__button {
    font-size: 20px;
    padding: 14px 36px;
  }
}
@media (width <= 1023.98px) {
  .hero__button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
@media (width <= 479.98px) {
  .hero__button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
.hero__button:hover {
  background-color: var(--color-light);
  outline: 1px solid var(--color-dark);
}
.hero__button--light {
  outline: 1px solid var(--color-dark);
}
.hero__button--light:hover {
  background-color: var(--color-accent);
  outline: none;
}
.hero__slider {
  background-color: var(--color-accent);
  border-radius: 60px;
  width: 620px;
  height: 590px;
}
@media (width <= 1279.98px) {
  .hero__slider {
    width: 520px;
    height: 477px;
  }
}
@media (width <= 1023.98px) {
  .hero__slider {
    width: 342px;
    height: 276px;
    align-self: end;
  }
}
@media (width <= 767.98px) {
  .hero__slider {
    align-self: normal;
    margin-top: 180px;
    width: 100%;
    height: auto;
  }
}
@media (width <= 479.98px) {
  .hero__slider {
    margin-top: 110px;
  }
}
@media (width <= 389.98px) {
  .hero__slider {
    margin-top: 90px;
  }
}
@media (width <= 1279.98px) {
  .hero {
    margin-top: 130px;
  }
}
@media (width <= 1023.98px) {
  .hero {
    margin-top: 100px;
  }
}
@media (width <= 479.98px) {
  .hero {
    margin-top: 70px;
  }
}
@media (width <= 389.98px) {
  .hero {
    margin-top: 50px;
  }
}

.hero__slider .swiper {
  width: 100%;
  margin-top: -110px;
  border-radius: 60px;
}
@media (width <= 767.98px) {
  .hero__slider .swiper-image {
    margin-inline: auto;
  }
}

.staff__slider .swiper {
  margin-top: -100px;
}
@media (width <= 1279.98px) {
  .staff__slider .swiper {
    margin-top: 0;
  }
}
.staff__slider .swiper-image {
  border-radius: 70px;
}
.staff__slider .swiper-buttons {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100px;
}
@media (width <= 479.98px) {
  .staff__slider .swiper-buttons {
    left: 45%;
    transform: translate(-50%);
  }
}
@media (width <= 389.98px) {
  .staff__slider .swiper-buttons {
    left: 44%;
  }
}
.staff__slider .swiper-button-next {
  background-image: url(./../images/staff/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 14px;
  right: var(--swiper-navigation-sides-offset, -28px);
}
.staff__slider .swiper-button-next::after {
  content: "";
}
.staff__slider .swiper-button-prev {
  background-image: url(./../images/staff/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 14px;
}
.staff__slider .swiper-button-prev::after {
  content: "";
}
.staff__slider .swiper-index-current {
  position: absolute;
  bottom: 2px;
  left: 54px;
}

.services {
  margin-top: 170px;
}
@media (width <= 1023.98px) {
  .services {
    margin-top: 120px;
  }
}
@media (width <= 479.98px) {
  .services {
    margin-top: 100px;
  }
}
.services__title {
  display: inline;
}
@media (width <= 479.98px) {
  .services__title {
    text-align: center;
    display: block;
  }
}
.services__muted {
  color: #d2d2d2;
  font-weight: 300;
  font-size: 72px;
  line-height: 0.6;
}
@media (width <= 1023.98px) {
  .services__muted {
    font-size: 60px;
  }
}
@media (width <= 767.98px) {
  .services__muted {
    font-size: 48px;
  }
}
@media (width <= 479.98px) {
  .services__muted {
    display: none;
  }
}
.services__body {
  margin-top: 110px;
}
@media (width <= 1023.98px) {
  .services__body {
    margin-top: 80px;
  }
}
@media (width <= 767.98px) {
  .services__body {
    margin-top: 60px;
  }
}
@media (width <= 479.98px) {
  .services__body {
    margin-top: 50px;
  }
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
@media (width <= 1439.98px) {
  .services__list {
    flex-direction: column;
  }
}
@media (width <= 767.98px) {
  .services__list {
    gap: 20px;
  }
}
.services__item {
  justify-items: center;
}
.services-card {
  display: flex;
  gap: 40px;
  width: 580px;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray);
}
.services-card a {
  text-decoration: none;
}
.services-card a:hover {
  text-decoration: underline;
}
@media (width <= 1439.98px) {
  .services-card {
    width: 100%;
    align-self: center;
  }
}
@media (width <= 767.98px) {
  .services-card {
    gap: 20px;
  }
}
@media (width <= 479.98px) {
  .services-card {
    justify-content: space-evenly;
  }
}
.services-card__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (width <= 767.98px) {
  .services-card__container {
    gap: 20px;
  }
}
@media (width <= 479.98px) {
  .services-card__container {
    flex-direction: column;
    justify-content: end;
  }
  .services-card__container--end {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top;
  }
  .services-card__container--facial-care {
    background-image: url(./../images/services/icons/facial-care.svg);
  }
  .services-card__container--hair-care {
    background-image: url(./../images/services/icons/hair-care.svg);
  }
  .services-card__container--massage {
    background-image: url(./../images/services/icons/massage.svg);
  }
  .services-card__container--spa-complexes {
    background-image: url(./../images/services/icons/spa-complexes.svg);
  }
  .services-card__container--manicure {
    background-image: url(./../images/services/icons/manicure.svg);
  }
  .services-card__container--beauty-look {
    background-image: url(./../images/services/icons/beauty-look.svg);
  }
}
.services-card__image {
  width: 140px;
  height: 140px;
  border-radius: 30px;
}
.services-card__image:hover {
  outline: 1px solid var(--color-dark);
}
@media (width <= 767.98px) {
  .services-card__image {
    width: 100px;
    height: 100px;
  }
}
@media (width <= 479.98px) {
  .services-card__image {
    width: 140px;
    height: 140px;
  }
}
.services-card__title {
  font-weight: 300;
  font-size: 20px;
}
@media (width <= 1439.98px) {
  .services-card__title {
    font-size: 36px;
  }
}
@media (width <= 767.98px) {
  .services-card__title {
    font-size: 22px;
  }
}
@media (width <= 479.98px) {
  .services-card__title {
    padding-block: 6px;
  }
}
.services-card__types {
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #ead3cb;
  border-radius: 50px;
  padding: 7px 24px;
}
@media (width <= 1439.98px) {
  .services-card__types {
    font-size: 24px;
  }
}
@media (width <= 767.98px) {
  .services-card__types {
    font-size: 18px;
    min-width: 100px;
    padding: 5px 14px;
  }
}
.services-card__link {
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 100px;
  background-color: var(--color-accent);
  background-image: url(./../images/services/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.services-card__link:hover {
  outline: 1px solid var(--color-dark);
  transform: scale(1.1);
}
@media (width <= 767.98px) {
  .services-card__link {
    width: 45px;
    height: 45px;
  }
}

.benefits {
  margin-top: 220px;
}
@media (width <= 1023.98px) {
  .benefits {
    margin-top: 180px;
  }
}
@media (width <= 767.98px) {
  .benefits {
    margin-top: 140px;
  }
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}
@media (width <= 1279.98px) {
  .benefits__list {
    justify-content: center;
  }
  .benefits__list li:nth-child(2) {
    order: -1;
  }
}
@media (width <= 1023.98px) {
  .benefits__list {
    gap: 40px;
  }
}
.benefits__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 44px 40px 60px 30px;
  gap: 28px;
  background-color: #f4f4f4;
  border-radius: 30px;
  justify-content: space-between;
}
@media (width <= 1023.98px) {
  .benefits__item {
    width: 321px;
    padding: 30px 40px 40px 30px;
  }
}
@media (width <= 767.98px) {
  .benefits__item {
    width: 100%;
  }
}
@media (width <= 479.98px) {
  .benefits__item {
    padding-right: 30px;
    gap: 25px;
  }
}
.benefits__item--title {
  padding: 0;
  background-image: url(./../images/benefits/arrow.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 0;
  background-color: transparent;
}
@media (width <= 767.98px) {
  .benefits__item--title {
    background: none;
  }
}
@media (width <= 479.98px) {
  .benefits__item--title {
    text-align: center;
  }
}
.benefits__item--title h3 {
  font-weight: 300;
  font-size: 94px;
  line-height: 1.09;
  letter-spacing: -0.05em;
  margin-top: -18px;
  margin-left: 8px;
}
@media (width <= 767.98px) {
  .benefits__item--title h3 {
    font-size: 68px;
  }
}
@media (width <= 479.98px) {
  .benefits__item--title h3 {
    text-align: center;
    font-size: 48px;
  }
}
.benefits__item--accent {
  background-color: var(--color-accent);
}
@media (width <= 1279.98px) {
  .benefits__item--accent {
    background-color: #f4f4f4;
  }
}
.benefits__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  margin-right: 10px;
}
@media (width <= 479.98px) {
  .benefits__title {
    text-align: center;
  }
}
.benefits__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
@media (width <= 767.98px) {
  .benefits__text br {
    display: none;
  }
}
@media (width <= 479.98px) {
  .benefits__text {
    text-align: justify;
  }
}

.staff {
  margin-top: 100px;
}
@media (width <= 479.98px) {
  .staff__title {
    text-align: center;
    font-size: 42px;
  }
}
@media (width <= 389.98px) {
  .staff__title {
    font-size: 36px;
  }
}
.staff__slide-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (width <= 1279.98px) {
  .staff__slide-body {
    margin-top: 20px;
  }
}
@media (width <= 767.98px) {
  .staff__slide-body {
    display: flex;
    flex-direction: column;
  }
}
.staff__info {
  position: relative;
  margin-top: 184px;
  width: 520px;
  letter-spacing: 0.1em;
}
@media (width <= 1279.98px) {
  .staff__info {
    margin-top: 0;
  }
}
@media (width <= 767.98px) {
  .staff__info {
    order: 1;
    width: 100%;
  }
}
.staff__name {
  font-size: 58px;
}
@media (width <= 1023.98px) {
  .staff__name {
    font-size: 40px;
  }
}
@media (width <= 479.98px) {
  .staff__name {
    text-align: center;
    font-size: 36px;
  }
}
@media (width <= 389.98px) {
  .staff__name {
    text-align: center;
    font-size: 28px;
  }
}
.staff__text {
  margin-top: 22px;
  margin-bottom: 15px;
  font-weight: 300;
  padding-left: 7px;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
@media (width <= 1023.98px) {
  .staff__text {
    font-size: 18px;
  }
}
@media (width <= 479.98px) {
  .staff__text {
    text-align: justify;
  }
}
.staff__image {
  position: relative;
  width: 560px;
}
@media (width <= 1279.98px) {
  .staff__image {
    width: 400px;
    display: flex;
  }
}
@media (width <= 767.98px) {
  .staff__image {
    width: 100%;
  }
}
.staff__image .swiper-image {
  align-self: end;
}
@media (width <= 767.98px) {
  .staff__image .swiper-image {
    margin: 0 auto;
  }
}
.staff__image-background {
  position: absolute;
  inset: 0;
  top: 90px;
  background-color: var(--color-accent);
  display: block;
  z-index: -1;
  border-radius: 70px;
}
.staff .soc1als {
  margin-bottom: 80px;
  justify-content: center;
}
.staff .soc1als__list {
  gap: 15px;
  padding: 5px;
}
.staff .soc1als__link {
  width: 40px;
}

.promo {
  margin-top: 100px;
}
.promo__inner {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
@media (width <= 1279.98px) {
  .promo__inner {
    flex-direction: column;
    gap: 20px;
  }
}
.promo__start {
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent);
  border-radius: 30px;
  padding: 50px 50px 35px 40px;
  gap: 35px;
}
@media (width <= 767.98px) {
  .promo__start {
    padding: 30px;
  }
}
@media (width <= 389.98px) {
  .promo__start {
    padding: 20px;
  }
}
.promo__title {
  font-weight: 300;
  font-size: 44px;
  line-height: 1.16;
  letter-spacing: -0.03em;
}
@media (width <= 767.98px) {
  .promo__title {
    font-size: 40px;
  }
}
@media (width <= 479.98px) {
  .promo__title {
    font-size: 30px;
    text-align: center;
  }
}
.promo__button {
  border-radius: 100px;
  padding: 16px 67px;
  background-color: var(--color-light);
  border: none;
  width: fit-content;
}
@media (width <= 479.98px) {
  .promo__button {
    align-self: center;
  }
}
.promo__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.promo__item {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 57px 40px 54px 37px;
  width: 270px;
  gap: 15px;
}
@media (width <= 1279.98px) {
  .promo__item {
    width: 100%;
  }
  .promo__item br {
    display: none;
  }
}
@media (width <= 767.98px) {
  .promo__item {
    padding: 30px;
  }
}
@media (width <= 479.98px) {
  .promo__item {
    width: 100%;
  }
  .promo__item br {
    display: block;
  }
}
@media (width <= 389.98px) {
  .promo__item {
    padding: 20px;
  }
}
.promo__number {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}
@media (width <= 767.98px) {
  .promo__number {
    font-size: 50px;
  }
}
@media (width <= 389.98px) {
  .promo__number {
    font-size: 40px;
  }
}
.promo__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
@media (width <= 479.98px) {
  .promo__text {
    font-size: 20px;
  }
}

.background-accent {
  background-color: var(--color-accent);
}

body {
  padding-bottom: 500px;
}/*# sourceMappingURL=main.css.map */