@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
   */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
   */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #605247;
  --color-gray: #acacac;
  --color-accent: #ead3cb;
  --color-border: #acacac;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;
  --container-width: 1260px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}
@media (width <= 389.98px) {
  :root {
    --container-padding-x: 10px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 767.98px) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  letter-spacing: -0.02em;
}

main {
  flex-grow: 1;
}

/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
h1,
.h1 {
  font-weight: 300;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  display: block;
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 44px;
  height: 44px;
  content: "";
}

.logo {
  position: relative;
  height: 45px;
  min-width: 57px;
}
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #605247;
  z-index: -1;
}
.logo__image {
  margin-right: 12px;
}

.header__inner {
  display: flex;
  padding-block: 30px;
  letter-spacing: 0;
}
@media (width <= 1023.98px) {
  .header__inner {
    font-size: 16px;
  }
}
@media (width <= 767.98px) {
  .header__inner {
    padding-block: 20px;
  }
}
@media (width <= 389.98px) {
  .header__inner {
    padding-block: 10px;
  }
}
.header__overlay {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (width <= 767.98px) {
  .header__overlay {
    justify-content: center;
  }
}
.header__menu {
  align-content: center;
  padding-inline: 15px;
}
@media (width <= 767.98px) {
  .header__menu {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    margin-top: 86px;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
    overflow-y: auto;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
  .header__menu:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  gap: 25px;
}
@media (width <= 1023.98px) {
  .header__menu-list {
    gap: 10px;
  }
}
@media (width <= 767.98px) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  border-radius: 50px;
  padding: 5px 15px;
}
@media (width <= 1023.98px) {
  .header__menu-link {
    padding: 2px 8px;
  }
}
@media (width <= 767.98px) {
  .header__menu-link {
    font-size: 24px;
  }
}
.header__menu-link:hover {
  outline: 1px solid var(--color-dark);
}

.soc1als {
  display: flex;
}
.soc1als__title {
  align-content: center;
  padding-inline: 25px;
}
@media (width <= 1023.98px) {
  .soc1als__title {
    padding-inline: 20px;
  }
}
@media (width <= 767.98px) {
  .soc1als__title {
    display: none;
  }
}
.soc1als__list {
  display: flex;
  gap: 20px;
}
@media (width <= 1023.98px) {
  .soc1als__list {
    gap: 10px;
  }
}
@media (width <= 389.98px) {
  .soc1als__list {
    gap: 6px;
  }
}
.soc1als__link {
  border-radius: 100%;
  padding: 10px;
  background-color: var(--color-accent);
  width: 45px;
}
.soc1als__link:hover {
  outline: 1px solid var(--color-dark);
  transform: scale(1.1);
}

.burger-button {
  min-width: 56px;
  height: 46px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8.5px 4.25px 8.5px 4.25px;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
}
.burger-button[aria-label]::before {
  width: 57px;
  height: 46px;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.4em -0.3em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  align-self: end;
  width: 55%;
}

.hero {
  margin-top: 200px;
}
.hero__body {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
@media (width <= 767.98px) {
  .hero__body {
    flex-direction: column;
    justify-content: center;
  }
}
.hero__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: fit-content;
  border-bottom: 1px solid var(--color-border);
}
@media (width <= 1023.98px) {
  .hero__info {
    border-bottom: none;
  }
}
@media (width <= 767.98px) {
  .hero__info {
    text-align: center;
  }
}
@media (width <= 480.98px) {
  .hero__info {
    gap: 25px;
  }
}
.hero__title {
  max-width: 450px;
}
@media (width <= 1280.98px) {
  .hero__title {
    max-width: 390px;
    font-size: 60px;
  }
}
@media (width <= 1023.98px) {
  .hero__title {
    max-width: 320px;
    font-size: 48px;
  }
}
@media (width <= 767.98px) {
  .hero__title {
    max-width: 100%;
  }
}
@media (width <= 480.98px) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__description {
  font-weight: 300;
  font-size: 34px;
  max-width: 500px;
  line-height: 1.2;
}
@media (width <= 1280.98px) {
  .hero__description {
    font-size: 26px;
    max-width: 350px;
  }
}
@media (width <= 1023.98px) {
  .hero__description {
    font-size: 22px;
  }
}
@media (width <= 767.98px) {
  .hero__description {
    max-width: 100%;
  }
}
@media (width <= 480.98px) {
  .hero__description {
    font-size: 20px;
  }
}
.hero__button-list {
  display: flex;
  gap: 25px;
  font-size: 24px;
}
@media (width <= 767.98px) {
  .hero__button-list {
    justify-content: center;
  }
}
@media (width <= 389.98px) {
  .hero__button-list {
    gap: 15px;
  }
}
.hero__button {
  border-radius: 100px;
  padding: 18px 48px;
  background-color: transparent;
  border: none;
  color: var(--color-dark);
}
@media (width <= 1280.98px) {
  .hero__button {
    font-size: 20px;
    padding: 14px 36px;
  }
}
@media (width <= 1023.98px) {
  .hero__button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
@media (width <= 480.98px) {
  .hero__button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
.hero__slider {
  background-color: var(--color-accent);
  border-radius: 60px;
  width: 620px;
  height: 590px;
}
@media (width <= 1280.98px) {
  .hero__slider {
    width: 520px;
    height: 477px;
  }
}
@media (width <= 1023.98px) {
  .hero__slider {
    width: 342px;
    height: 276px;
    align-self: end;
  }
}
@media (width <= 767.98px) {
  .hero__slider {
    align-self: normal;
    margin-top: 180px;
    width: 100%;
    height: auto;
  }
}
@media (width <= 480.98px) {
  .hero__slider {
    margin-top: 110px;
  }
}
@media (width <= 389.98px) {
  .hero__slider {
    margin-top: 90px;
  }
}
@media (width <= 1280.98px) {
  .hero {
    margin-top: 130px;
  }
}
@media (width <= 1023.98px) {
  .hero {
    margin-top: 100px;
  }
}
@media (width <= 480.98px) {
  .hero {
    margin-top: 60px;
  }
}
@media (width <= 389.98px) {
  .hero {
    margin-top: 40px;
  }
}

.swiper {
  width: 100%;
  margin-top: -110px;
  border-radius: 60px;
}
@media (width <= 767.98px) {
  .swiper-image {
    margin-inline: auto;
  }
}

.background-accent {
  background-color: var(--color-accent);
}

.outline {
  outline: 1px solid var(--color-dark);
}

body {
  padding-bottom: 500px;
}/*# sourceMappingURL=main.css.map */