@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/logo";
@use "./blocks/header";
@use "./blocks/soc1als";
@use "./blocks/burger-button";
@use "./blocks/hero";
@use "./blocks/swiper";
@use "./blocks/services";
@use "./blocks/benefits";
@use "./blocks/staff";
@use "./blocks/promo";

.background-accent {
  background-color: var(--color-accent);
}

// Временно
body {
  padding-bottom: 500px;
}

.header {
  display: none;
}

.hero {
  display: none;
}

.services {
  display: none;
}

.benefits {
  display: none;
}

.staff {
  display: none;
}
