@use "../helpers/" as *;

.staff {
  padding-top: 140px;

  @include mobile {
    padding-top: 100px;
  }

  @include mobile-s {
    &__title {
      text-align: center;
      font-size: 42px;
    }
  }

  @include mobile-xs {
    &__title {
      font-size: 36px;
    }
  }

  &__slide-body {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include laptop-s {
      margin-top: 20px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    position: relative;
    margin-top: 184px;
    width: 520px;
    letter-spacing: 0.1em;

    @include laptop-s {
      margin-top: 0;
    }

    @include mobile {
      order: 1;
      width: 100%;
    }
  }

  &__name {
    font-size: 58px;

    @include tablet {
      font-size: 40px;
    }

    @include mobile-s {
      text-align: center;
      font-size: 36px;
    }

    @include mobile-xs {
      text-align: center;
      font-size: 28px;
    }
  }

  &__text {
    margin-top: 22px;
    margin-bottom: 15px;
    font-weight: 300;
    padding-left: 7px;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.03em;

    @include tablet {
      font-size: 18px;
    }

    @include mobile-s {
      text-align: justify;
    }
  }

  &__image {
    position: relative;
    width: 560px;

    @include laptop-s {
      width: 400px;
      display: flex;
    }

    @include mobile {
      width: 100%;
    }

    & .swiper-image {
      align-self: end;

      @include mobile {
        margin: 0 auto;
      }
    }
  }

  &__image-background {
    position: absolute;
    inset: 0;
    top: 90px;
    background-color: var(--color-accent);
    display: block;
    z-index: -1;
    border-radius: 70px;

    @include laptop-s {
    }
  }

  & .soc1als {
    margin-bottom: 80px;

    @include mobile-s {
      justify-content: center;
    }

    &__list {
      gap: 15px;
      padding: 5px;
    }

    &__link {
      width: 40px;
    }
  }
}
