@use "../helpers/" as *;

.hero__slider .swiper {
  width: 100%;
  margin-top: -110px;
  border-radius: 60px;

  &-image {
    @include mobile {
      margin-inline: auto;
    }
  }
}

.staff__slider .swiper {
  margin-top: -100px;

  @include laptop-s {
    margin-top: 0;
  }

  &-image {
    border-radius: 70px;
  }

  &-buttons {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100px;

    @include mobile-s {
      left: 45%;
      transform: translate(-50%);
    }

    @include mobile-xs {
      left: 44%;
    }
  }

  &-button-next {
    background-image: url(./../images/staff/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 14px;
    right: var(--swiper-navigation-sides-offset, -28px);

    &::after {
      content: "";
    }
  }

  &-button-prev {
    background-image: url(./../images/staff/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 14px;

    &::after {
      content: "";
    }
  }

  &-index-current {
    position: absolute;
    bottom: 2px;
    left: 54px;
  }
}
